{% extends './main.html' %}

    {% block page_content %}
        <article id="form_sectiom" >
            <h2 class="section_header_h2">Buscar desaparecido</h2>
            <br>
            <div id="form_container" >
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <button type="submit">Buscar</button>
                </form>
            </div>
            <br>
            <a href="javascript:history.back()">Clique aqui para voltar</a>
        </article>
    {% endblock %}