{% extends './main.html' %}

    {% block page_content %}
        <article id="form_sectiom" >
            <h2 class="section_header_h2">Cadastrar desaparecido</h2>
            <br>
            <p>Voce pode cadastrar um novo desaparecido a seguir:</p>
            <br>
            <div id="form_container" >
                <form method="POST" enctype="multipart/form-data" class="post-form">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <button type="submit">Cadastrar</button>
                </form>
            </div>
            <br>
            <a href="{% url 'desaparecidos' %}">Clique aqui para voltar</a>
        </article>
    {% endblock %}