{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" >
        <title>Visualizar Cartazete - Sistema de Gerenciamento de Pessoas Desaparecidas do Estado do Rio de Janeiro</title>

        <!-- html2canvas para ser capaz de gerar imagem a partir de div -->
        <script src="{% static 'js/html2canvas.min.js' %}"></script>
        <!-- qrcodejs para gerar QR code -->
        <script src="{% static 'js/qrcode.min.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/estilo_visualizacao_cartazete.css' %}">


        <script type="text/javascript">
            function downloadURI(uri, name) {
                //alert("Buh!")
                var link = document.createElement("a");
                link.download = name;
                link.href = uri;
                document.body.appendChild(link)
                link.click();
            }


            function salvarCartazete(){
                //alert("Buh!")
                html2canvas(document.querySelector("#cartazete-container")).then(function(canvas) {
                    var base64image = canvas.toDataURL("image/png");
                    downloadURI("data:" + base64image, "cartazete.png");
                });
            }

            function imprimirCartazete(){
                //alert("Buh!")

                html2canvas(document.querySelector("#cartazete-container")).then(function(canvas) {
                    // Export the canvas to its data URI representation
                    var base64image = canvas.toDataURL("image/png");
                    // Open the image in a new window
                    tela_impressao = window.open(base64image , "_blank");


                    //tela_impressao.focus();
                    //tela_impressao.print();
                    //tela_impressao.close();
                    
                    tela_impressao.window.addEventListener("load", function(){
                        alert("Buh!");
                        tela_impressao.window.focus();
                        tela_impressao.window.print();
                        tela_impressao.window.close();
                    }, false);
                    
                        
                    //}

                    
                    
                    /*
                    // Export canvas as a blob 
                    canvas.toBlob(function(blob) {
                        // Generate file download
                        window.saveAs(blob, "cartazete.png");
                    });
                    */
                    
                    //var base64image = canvas.toDataURL("image/png");
                    //downloadURI("data:" + base64image, "cartazete.png");
                });

                /*
                var conteudo = document.getElementById('cartazete-container').innerHTML;
                var tela_impressao = window.open('about:blank');

                tela_impressao.document.write("<link rel=\"stylesheet\" type=\"text/css\" href=\"{% static 'css/estilo_visualizacao_cartazete.css' %}\">");
                tela_impressao.document.write(conteudo);
                tela_impressao.window.print();
                tela_impressao.window.close();
                */
            }
        </script>

    </head>
    <body>

        <section id="page-contents">

                <div id="cartazete-container">

                    <img class="logo" src="{% static 'images/logo-policia-civil.png' %}" />

                    <p class="white-text" style="font-size: 19px;">DELEGACIA DE DESCOBERTA DE PARADEIROS - DDPA</p>

                    <div id="dados-desaparecido">
                        
                        <p class="titulo yellow-text">DESAPARECIDO</p>

                        <div id="foto-e-dados-container">
                            {% if pessoa.foto.name %}
                            <img src="{{ pessoa.foto.url }}" width="175" height="200" />
                            {% else %}
                            <img src="{% static 'images/no-photo-image.png' %}" width="175" height="200" />
                            {% endif %}
                            
                            <div>
                                <p>Idade: {{ idade }}</p>
                                <br />
                                <br />
                                <p>Desaparecimento: {{ data_desaparecimento }} </p>
                                <br />
                                <p>{{ comentario }}</p>
                                <br />
                                <p>Local de desaparecimento: <br />{{ pessoa.local_desaparecimento }} </p>
                            </div>    
                        </div>
                        <div id="nome-container">
                            <p>{{ nome_exibicao }}</p>
                        </div>

                        <p class="telefone yellow-text">Ligue 2202-0338</p>
                        
                    </div>

                    <p class="white-text" style="margin-top: 30px;">Toda informação é importante para a <br>localização da pessoa desaparecida</p>

                    <p class="white-text" style="margin-top: 20px;font-size: 12px">www.policiacivil.rj.gov.br</p>

                </div>

                <div id="opcoes-cartazete">
                    <form onsubmit="return false">
                        <input type="submit" value="Imprimir" onclick="imprimirCartazete();">
                        <input type="submit" value="Salvar" onclick="salvarCartazete();">
                    </form>
                </div>

        </section>

    </body>
</html>
