{% extends './main.html' %}
{% load static %}

    {% block page_content %}
        <section id="page-contents">
            <header class="content-top">
                <p>Desaparecidos</p>
                <img src="{% static 'images/back-button.png' %}" onclick="history.back()">
            </header>
            <section id="button-container">
                <div id="register-button" class="grey-on-hover">
                    <a href="{% url 'cadastrarDesaparecido' %}" class="button-link">
                        <div class="button-text-container">
                            <p class="button-title">CADASTRO</p>
                            <p class="button-subtitle">Clique para cadastrar um desaparecido</p>
                        </div>
                        <img class="button-icon" src="{% static 'images/black-circle-plus-icon.png' %}">
                    </a>
                </div>

                <div id="search-button" class="grey-on-hover">
                    <a href="{% url 'buscarDesaparecidoWeb' %}" class="button-link">
                        <div class="button-text-container">
                            <p class="button-title">BUSCAR</p>
                            <p class="button-subtitle">Clique para buscar um desaparecido</p>
                        </div>
                        <img class="button-icon" src="{% static 'images/black-magnifier-icon.png' %}">
                    </a>
                </div>
            </section>
            <section class="results-grid">
                {% if results %}
                {% for result in results %}
                    <div class="result person-result">
                        <div class="result-contents">
                            {% if result.foto %}
                            <img src="{{ result.foto.url }}" class="result-photo" />
                            {% else %}
                            <img src="{% static 'images/user-icon.png' %}" class="dummy-photo" />
                            {% endif %}
                            <a href="{% url 'editarDesaparecido' pk=result.pk %}" class="option-button link-button grey-on-hover">
                                <p>Editar</p><img src="{% static 'images/pencil-icon.png' %}">
                            </a>
                            <a href="{% url 'removerDesaparecido' pk=result.pk %}" class="option-button link-button grey-on-hover">
                                <p>Excluir</p><img src="{% static 'images/black-x-icon.png' %}">
                            </a>
                            <p class="name">{{ result.nome }}</p>
                        </div>
                        <div class=result-details-option>
                            <a href="{% url 'visualizarDesaparecido' pk=result.pk %}" class="option-button"><img src="{% static 'images/white-plus-icon.png' %}"><p>Detalhes</p></a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Nenhum desaparecido encontrado.</p>
            {% endif %}
                
            </section>
        </section>
    {% endblock %}
